<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>yresto</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/styles/main.css" />
</head>

<body>
  <a href="#maincontent" class="skip-link">Skip To Content</a>
  <header>
    <div class="logo-container">
      <img id="logo" src="../images/assets/logo.png" alt="Logo" />
      <h1 id="brand">YResto</h1>
    </div>
    <nav>
      <div class="hamburger-menu" id="hamburgerMenu" tabindex="0">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/77leviann">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="maincontent">
    <div class="hero">
      <img src="../images/heros/hero-image_2.jpg" alt="Hero Image">
    </div>
    <br>
    <div class="container">
      <h1 class="header">Daftar Restoran Terbaik</h1>
      <br>
      <div class="restaurants-container">
        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/41"
            alt="Bring Your Phone Cafe">
          <span class="icon">&#9733;</span>
          <span class="info">4.6</span>
          <span class="review-count">(1012 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Bring Your Phone Cafe</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Medan</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun">
          <span class="icon">&#9733;</span>
          <span class="info">4.6</span>
          <span class="review-count">(111 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Run The Gun</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Bali</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/29"
            alt="Pangsit Express">
          <span class="icon">&#9733;</span>
          <span class="info">4.8</span>
          <span class="review-count">(1121 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Pangsit Express</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Ternate</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Ducky Duck">
          <span class="icon">&#9733;</span>
          <span class="info">4.7</span>
          <span class="review-count">(1321 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Ducky Duck</h2>
          <div class="description-container">
            <div class="description">
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                and praising pain
                <span class="read-more-text">
                  was born and I will give you a complete account of the system, and expound the actual
                  teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                  dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                  pursue
                  pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
                  loves
                  or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                  circumstances
                  occur in which toil and pain can procure him some great pleasure.
              </p>
              </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Malang</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Kafein">
          <span class="icon">&#9733;</span>
          <span class="info">3.8</span>
          <span class="review-count">(302 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Kafein</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Bali</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Makan mudah">
          <span class="icon">&#9733;</span>
          <span class="info">4.6</span>
          <span class="review-count">(209 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Makan mudah</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Malang</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka">
          <span class="icon">&#9733;</span>
          <span class="info">3.6</span>
          <span class="review-count">(209 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Saya Suka</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Surabaya</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gigitan Cepat">
          <span class="icon">&#9733;</span>
          <span class="info">4</span>
          <span class="review-count">(999 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Gigitan Cepat</h2>
          <div class="description-container">
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                <span class="read-more-text">
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                  massa
                  quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                  ut,
                  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras
                  dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                  Phasellus viverra nulla ut metus varius laoreet.
                </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Aceh</span>
        </div>

        <div class="restaurant-item">
          <img class="restaurant-image" src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Fairy Cafe">
          <span class="icon">&#9733;</span>
          <span class="info">3.9</span>
          <span class="review-count">(777 reviews)</span>
          <h2 class="restaurant-name" tabindex="0">Fairy Cafe</h2>
          <div class="description-container">
            <div class="description">
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure
                and praising pain
                <span class="read-more-text">
                  was born and I will give you a complete account of the system, and expound the actual
                  teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                  dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                  pursue
                  pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
                  loves
                  or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                  circumstances
                  occur in which toil and pain can procure him some great pleasure.
              </p>
              </span>
              </p>
              <span class="read-more-button" tabindex="0">Read More...</span>
            </div>
          </div>
          <span class="icon">&#128205;</span>
          <span class="info">Malang</span>
        </div>
      </div>
  </main>
  <footer>
    <p>&copy; 2023 YResto. All Rights Reserved.</p>
  </footer>


  <script src="/src/scripts/index.js"></script>
</body>

</html>